{% load static %}
    <script
        type="text/javascript"
        src="{% static "javascripts/booktrade.config.js" %}"></script>
    <script
        type="text/javascript"
        src="{% static "javascripts/booktrade.routes.js" %}"></script>
    <script
        type="text/javascript"
        src="{% static "javascripts/authentication/authentication.module.js" %}"></script>
    <script
        type="text/javascript"
        src="{% static "javascripts/authentication/services/authentication.service.js" %}"></script>
    <script
        type="text/javascript"
        src="{% static "javascripts/authentication/controllers/register.controller.js" %}"></script>
